@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Bootstrap Admin App + jQuery">
    <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">
    <title>Cloud ERP</title>
    <!-- =============== VENDOR STYLES ===============-->
    <!-- FONT AWESOME-->
    <link rel="stylesheet" href="~/Content/Template/vendor/font-awesome/css/font-awesome.css">
    <!-- SIMPLE LINE ICONS-->
    <link rel="stylesheet" href="~/Content/Template/vendor/simple-line-icons/css/simple-line-icons.css">
    <!-- =============== BOOTSTRAP STYLES ===============-->
    <link rel="stylesheet" href="~/Content/Template/css/bootstrap.css" id="bscss">
    <!-- =============== APP STYLES ===============-->
    <link rel="stylesheet" href="~/Content/Template/css/app.css" id="maincss">
</head>

<body>
    <div class="wrapper">
        <div class="block-center mt-4 wd-xl">
            <!-- START card-->
            <div class="card card-flat">
                <div class="card-header text-center bg-dark">

                    <!--<img class="block-center rounded"--> @*src="~/Content/CompanyLogos/vingroup_logo.png"*@ <!--alt="Image">-->
                    <p align="center" style="color: white;">ALREADY HAVE AN ACCOUNT?</p>


                </div>
                <div class="card-body">
                    <p class="text-center py-2">SIGN IN TO CONTINUE.</p>
                    @using (Html.BeginForm("ForgetPassword", "Home", FormMethod.Post, new { @class = "mb-3", id = "loginForm" }))
                    {

                        @Html.AntiForgeryToken()
                        <p class="text-danger">
                            @ViewBag.Message
                        </p>
                        <div class="form-group">
                            <div class="input-group with-focus">
                                <input class="form-control border-right-0" id="email" name="email" type="email" placeholder="Enter email" autocomplete="off" required>
                                <div class="input-group-append">
                                    <span class="input-group-text fa fa-envelope text-muted bg-transparent border-left-0"></span>
                                </div>
                            </div>
                        </div>
                      
                        <div class="clearfix">

                            <div class="float-right">
                                @Html.ActionLink("Remember your password?", "LoginUser", "Home", new { @class = "text-muted" })

                            </div>
                            <br />
                            <div class="float-right"><a href="@Url.Action("RegistrationForm","CompanyRegistration")" style="color: #909FA7;" title="Company Registration">Does Not Have An Account?</a></div>
                        </div>
                        <button class="btn btn-block btn-primary mt-3" type="submit">Confirm</button>
                    }
                </div>
            </div>
            <!-- END card-->
            <div class="p-3 text-center">
                <span class="mr-2">&copy;</span>
                <span>2024</span>
                <span class="mr-2">-</span>
                <span>Small Business</span>
                <br>
                <span>Cloud ERP</span>
            </div>
        </div>
    </div>
    <!-- =============== VENDOR SCRIPTS ===============-->
    <!-- MODERNIZR-->
    <script src="~/Content/Template/vendor/modernizr/modernizr.custom.js"></script>
    <!-- JQUERY-->
    <script src="~/Content/Template/vendor/jquery/dist/jquery.js"></script>
    <!-- BOOTSTRAP-->
    <script src="~/Content/Template/vendor/bootstrap/dist/js/bootstrap.js"></script>
    <!-- STORAGE API-->
    <script src="~/Content/Template/vendor/js-storage/js.storage.js"></script>
    <!-- PARSLEY-->
    <script src="~/Content/Template/vendor/parsleyjs/dist/parsley.js"></script>
    <!-- =============== APP SCRIPTS ===============-->
    <script src="~/Content/Template/js/app.js"></script>
</body>

</html>